.main{border: none;}
body{background: url(http://www.example.com/img/bg.png);/*data-inline-ignore*/}
body{background: url('http://www.example.com/img/bg.png');/*data-inline-ignore*/}
body{background: url('icon.png');}
body{background: url('not-icon.png');/*data-inline-ignore*/}
body{background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAHklEQVQoz2NgAIP/YMBAPBjVMNAa/pMISNcwEoMVAH0ls03D44ABAAAAAElFTkSuQmCC);}
body{background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAHklEQVQoz2NgAIP/YMBAPBjVMNAa/pMISNcwEoMVAH0ls03D44ABAAAAAElFTkSuQmCC');}
